<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TaiMingAI—后台UI框架</title>

    <environment include="Development">
        <link href="~/layui/css/layui.css" rel="stylesheet" />
    </environment>
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">
                <b>TaiMingAI</b>
                <b>后台UI框架</b>
            </div>
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        齐天大圣
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">安全退出</a></li>
            </ul>
            <input id="absolute_path" type="hidden" value="@Url.Content("~/")" />
        </div>

        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="nav">
                    @{
                        string roles = ViewBag.Role ?? "";
                        if (roles.Contains("checker"))
                        {
                            @Html.Partial("_CheckerNav")
                        }
                        else if (roles.Contains("analyst"))
                        {
                            @Html.Partial("_AnalystNav")
                        }
                        else if (roles.Contains("manager"))
                        {
                            @Html.Partial("_ManagerNav")
                        }
                    }
                </ul>
            </div>
        </div>
        <div class="layui-body">
            <!-- 内容主体区域 -->
            <div style="padding: 10px;">
                @RenderBody()
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © taiming.com - TaiMingAI
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/layui/layui.js"></script>
        <script src="~/js/main.js"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
